$color:#158d48;
$cfen:#f0f0f0;
$border:#dfdfdf;
.mengban{
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 999;
  img{
    width: 100%;
    height: 24rem;
  }
}
.content{
  .c_img{
    width: 100%;
  }
  .c_a_list{
    padding-left: 0.5rem;
    margin-top:0.2rem;
    p{
      font-size: 0.6rem;
      padding:0.05rem 0;
      span{
        color: $color;
      }
    }
  }
  .c_a_content center{
    border-top:1px solid $cfen;
    border-bottom:1px solid $cfen;
    padding:0.3rem 0;
    margin-top:0.3rem;
  }
  .c_arc_list{
    margin-bottom:1.8rem;
    ul li{
      display: -webkit-flex;
      border-bottom:1px solid $cfen;
      // >div >span:nth-child(1){
      //   width: 2rem;
      // }
      div{
        width: 50%;
        display: -webkit-flex;
        padding:0.3rem 0.5rem;
        &:first-child{
          border-right: 1px solid $cfen;
        }
        center{
          font-size: .8rem;
        }
        span:nth-child(1){
          color: #979797;
          padding: .125rem .2rem;
        }
        span:nth-child(2){
          color: #2b2b2b;
          padding: .125rem .5rem;
        }
        span{
          display: block;
          font-size: .5rem;
        }
      }
    }
  }
  .button_bottom{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    display: -webkit-flex;
    >div{
      border: none;
       -webkit-flex:1;
       text-align: center;
       height: 1.8rem;
       line-height: 1.8rem;
    }
    .b_one{
      background-color: white;
      span{
        color: $color;
      }
    }
    .b_two{
      background-color: $color;
      color: white;
    }
  }
}
.cade_div{
  background-color:white;
}
.mint-popup{
  width: 100%;
}
.cade_image{
  display: -webkit-box;
  margin-top:0.6rem;
}
.cade_left{
  margin:0 0.6rem;
}
.txt_up_money{
  font-size: 0.55rem;
  p:nth-child(1){
    font-size: 0.7rem;
  }
  span{
    color: $color;
  }
  p:nth-child(2){
    font-size: 0.6rem;
    margin-top:0.1rem;
  }
}
.store_det_img{
  width:3.2rem;
  height: 3.2rem;
  border-radius: 0.2rem;
  background-color:white;
}
.cade_number{
  display: -webkit-box;
  margin: 0.6rem;
  -webkit-box-align: center;
  border-bottom:1px solid #f2f2f2;
  padding-bottom:2rem;
}
.c_n_left{
  -webkit-box-flex: 1;
  color: #2b2b2b
}
.c_n_right{
  height: 1rem;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  display: -webkit-box;
  width: 4rem;
}
.num_btn{
  color: #bfbfbf;
  width: 1.2rem;
  font-size: 0.5rem;
  font-weight: 500;
}
.num_box{
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.num{
  color: #2b2b2b;
  -webkit-box-flex: 1;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  font-size: 0.5rem;
}
.sha_cas{
  img{
    width: 100%;
  }
}
