$color:#158d48;
$cfen:#f0f0f0;
$border:#dfdfdf;
.in_content{
  width: 90%;
  margin:0 auto;
  text-align: center;
  border-radius:0.5rem;
  margin-top:-2.06rem;
  background-color: white;
  position: relative;
  p{
    padding:0.5rem 0;
    border-bottom: 1px solid #f0f0f0;
  }
  form{
    margin:0.5rem auto;
    width: 85%;
    >div{
      display: -webkit-flex;
      align-items: center;
      margin: 0.5rem auto;
    }
    .form_one{
      div:nth-child(1){
        width: 1.2rem;
        text-align: center;
        margin:0 auto;
      }
      img{
        width: 1rem;
        text-align: center;
        margin: 0 auto;
      }
      div:nth-child(2){
        width: 100%;
        display: -webkit-flex;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: 1px solid $border;
        padding-bottom:0.2rem;
        margin-left: 0.5rem;
        input{
          background-color: transparent;
          border: none;
          -webkit-flex: 1;
          font-size: 0.55rem;
          overflow: hidden;
        }
      }
    }
    .form_two{
      img{
        width: 0.8rem !important;
      }
      label{
        margin-left: 0.7rem;
      }
    }
  }
  .addr_save_btn{
    width: 86%;
    background-color: $color;
    color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-size: 0.54rem;
    margin: 1.02rem auto;
    padding: 0.32rem 0;
    border-radius: 5px;
  }
}
