$color:#158d48;
$cfen:#f0f0f0;
$border:#dfdfdf;
.content{
  background-color: $cfen
}
.btn_searc{
  padding:0.4rem 0;
  border-bottom:1px solid  $border;
  text-align: center;
  font-size: 0.6rem;
  margin-bottom:0.4rem;
  background-color: white;
  >input{
    height: 100%;
    font-size: 0.55rem;
    border: none;
    padding:0.1rem 0;
  }
}
.c_i_list{
  // overflow-y: scroll;
  font-size: 0.47rem;
  background-color: white;
  >li{
    display: -webkit-flex;
    margin:0.4rem;
    margin-right:0;
    align-items: center;
    align-content: center;
    border-bottom:1px solid $cfen;
    padding-bottom:0.4rem;
  }
  .c_i_left{
    width: 2.6rem;
    margin-right:0.4rem;
    img{
      width: 100%;
      border-radius: 0.4rem;
    }
  }
  .c_i_middle{
    -webkit-flex:1;
    >p{
      margin:0.2rem 0;
    }
    span{
      color: $color
    }
  }
  .c_i_right{
    text-align: right;
    margin-right:0.4rem;
  }
}
.order_info_more{
  text-align:center;
  font-size: 0.48rem;
  color: $color;
  padding: 0.4rem 0;
}
.bt_flid{
  text-align: left;

  padding: 0.35rem 0;
  padding-left: 0.5rem;
  font-size: 0.55rem;
  color: #979797
}
